.bar{
  border-bottom: 2px solid lightgrey;
}

.bar-1 .menu-horizontal > li > .dropdown__trigger, .bar-1 .menu-horizontal > li > a{
  text-transform: none;
  font-size: 15px;
  font-weight: bold;
}

.pri_color{
  color:darkblue;
}

.sec_color{
  color: darkorange;
}

.font_size_50 {
    font-size: 50px;
}

.font_size_60{
  font-size: 60px;
}

.font_size_20{
  font-size: 20px;
}

.font_size_15{
  font-size: 15px;
}

.fnt_weight{
  font-weight: bold;
}

.para1{
  color: darkblue;
}

  @media(min-width:1200px){
    .container_intro1{
      width: 1048px;
    }
    .container_intro2 {
      width: 1028px;
    }
    .container_intro3{
      width: 1010px;
    }
    }

.cstm_bg_color{
  background-color: #f3f2f2;
}

.btm_paddding_40{
  padding-bottom: 40px;
}

.top_padding_80{
  padding-top: 80px;
}

.padding_all{
  padding: 30px;
}

.thr_color{
  color: #da0cfd;
}

.btn_orange{
  background-color: #ea3800;
}

.btn_border{
  border:none;
}

.btn_padding{
  padding: 15px 80px 15px 80px;
}

.p_color{
  color: #412b67;
}

.para2_color{
  color: white;
}

.img_border{
  border:none;
}

.h_color{
  color: black;
}

.sec_bg_color{
  background-color: darkblue;
}